
/* Layout Unit */
$unit: 8px;

/* Colors */
$color-white: #ffffff;
$color-black: #0A2E40;
$color-teal: #4ADEF2;
$color-lightgray: #DAE2E5;

/* Shadows */
@mixin big-shadow { box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5); }
@mixin small-shadow { box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/* Typescale */
$type-unit: 8px;
@mixin type-normal {font-size: $type-unit;}

/* Animation */
@mixin transition ($property) {
  transition: $property .15s ease;
}


/* Base Layout & Style */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  color: inherit;
}

html, body {
  background: $color-white;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: $color-black;
}

#root {
  text-align: left;
}


/* Section Structure */

header  { padding: 1rem 0; }
section { width: 100%; padding: 3rem 0; }
footer  { /*Define Vertical Padding and container style*/ }
figure  { /*Define Vertical Padding and container style*/ }

.margins {
  margin: 0 auto;
  padding: 0 2*$unit;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  &.one   { .column { width: 100% } }
  &.two   { .column { width: 100% } }
  &.three { .column { width: 100% } }
  &.four  { .column { width: 100% } }
}

/* Basic Type & Elements */

h1, h2, h3, h4, h5, h6 {  }
h1 {  }
h2 {
  text-align: center;
  span {
    background: url(../../img/graphic-brush-large.png) center bottom no-repeat;
    padding-bottom: 22px;
    background-size: contain;
  }
}
h3 {  }
p  {  }
a  {  }
img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

/* Special Patterns */

.button {
  background-color: $color-white;
  color: $color-black;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 20px 36px 20px 36px;
}
.card {}

.tagline {
  text-transform: uppercase;
  font-size: 13px;
  color: $color-black;
  padding-top: 40px;
  text-align: center;

}


/* Section-specific */

.hero {
  background-image: url(../../img/bg-hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-white;

  .margins {

    header {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .eml-logo {
        display: flex;
        justify-content: flex-start;
        width: 60%;
        text-decoration: none;
        img { width: 14px; height: 18px; margin-right: 16px }
        div {
          span { display: block; line-height: 20px;}
          .product-name { font-weight: bold; font-size: 18px; }
          .product-tagline { font-size: 14px; }
        }
      }
      nav {

      }
    }
  }



}

.preorder {
  text-align: center;
  background-color: $color-teal;
  background-image: url(../../img/pattern-left.svg), url(../../img/pattern-right.svg);
  background-position: left center, right center;
  background-repeat: no-repeat, no-repeat;

  .margins {
    h3 {  }
    .button { }
  }
}

.subnav {
  display: none;
  font-size: 18px;
  border-bottom: 1px solid $color-lightgray;
}

.gsuite {
  border-bottom: 1px solid $color-lightgray;

  h2 {
    span {
      background-image: url(../../img/graphic-brush-large.png);
      padding-bottom: 26px;
    }
  }

  .carousel-toggle {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    .button {
      width: 31.5%;
      cursor: pointer;
      &.selected {
        background-color: $color-black;
        color: white;
        cursor: auto;
      }
    }
  }

  .carousel {
    background-image: url(../../img/bg-carousel.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    .carousel-image {
      opacity: 0;
      pointer-events: none;
      .image-sheets {}
      .image-gmail {}
      .image-drive {}
      &.showing { opacity: 1; pointer-events: all; }

    }
  }
  .carousel-captions {
    .caption {
      text-align: center;
      opacity: 0;
      pointer-events: none;
      &.showing { opacity: 1; pointer-events: all; }
    }

  }

}

.setup {
  border-bottom: 1px solid $color-lightgray;
  h2 {
    span {
      background-image: url(../../img/graphic-brush-large.png);
      padding-bottom: 34px;
    }
  }
}

.pricing {
  border-bottom: 1px solid $color-lightgray;
  h2 {
    span {
      padding-bottom: 18px;
    }
  }

}

.features {
  .features-list {
    .column {
      font-weight: bold;
      text-align: center;
      &.more {
        font-weight: normal;
      }
    }
  }
  h2 {
    span {
      padding-bottom: 14px;
    }
  }
}

.image-break {
  height: 220px;
  background-image: url(../../img/bg-imagebreak.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.notifications {
  background-color: $color-teal;
  text-align: center;
}

footer {
  background-color: $color-black;
  a {
    img {
      margin: 0 auto;
    }
  }

}


@media screen and (min-width: 640px) {


  .margins {
    padding: 0;
    width: 600px;
  }

  .columns {
    display: flex;
    flex-wrap: wrap;

    &.one   { }
    &.two   { .column { width: 48%; } }
    &.three { .column { width: 30%; } }
    &.four  { .column { width: 22%; } }
  }

  .subnav { display: block; }
}

@media screen and (min-width: 1024px) {

  .margins {
    padding: 0;
    width: 960px;
  }

  .columns {
    display: flex;
    flex-wrap: wrap;

    &.one   {   }
    &.two   {   }
    &.three {   }
    &.four  {   }
  }

}

@media screen and (min-width: 1440px) {

  .margins {
    padding: 0;
    width: 1200px;
  }

}
