/* Layout Unit */
/* Colors */
/* Shadows */
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
/* Typescale */
/* Animation */
/* Base Layout & Style */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  color: inherit;
}

html, body {
  background: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #0A2E40;
}

#root {
  text-align: left;
}

/* Section Structure */
header {
  padding: 1rem 0;
}

section {
  width: 100%;
  padding: 3rem 0;
}

footer {
  /*Define Vertical Padding and container style*/
}

figure {
  /*Define Vertical Padding and container style*/
}

.margins {
  margin: 0 auto;
  padding: 0 16px;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.columns.one .column {
  width: 100%;
}
.columns.two .column {
  width: 100%;
}
.columns.three .column {
  width: 100%;
}
.columns.four .column {
  width: 100%;
}

/* Basic Type & Elements */
h2 {
  text-align: center;
}
h2 span {
  background: url(../../img/graphic-brush-large.png) center bottom no-repeat;
  padding-bottom: 22px;
  background-size: contain;
}

img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

/* Special Patterns */
.button {
  background-color: #ffffff;
  color: #0A2E40;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 20px 36px 20px 36px;
}

.tagline {
  text-transform: uppercase;
  font-size: 13px;
  color: #0A2E40;
  padding-top: 40px;
  text-align: center;
}

/* Section-specific */
.hero {
  background-image: url(../../img/bg-hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
.hero .margins header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.hero .margins header .eml-logo {
  display: flex;
  justify-content: flex-start;
  width: 60%;
  text-decoration: none;
}
.hero .margins header .eml-logo img {
  width: 14px;
  height: 18px;
  margin-right: 16px;
}
.hero .margins header .eml-logo div span {
  display: block;
  line-height: 20px;
}
.hero .margins header .eml-logo div .product-name {
  font-weight: bold;
  font-size: 18px;
}
.hero .margins header .eml-logo div .product-tagline {
  font-size: 14px;
}
.preorder {
  text-align: center;
  background-color: #4ADEF2;
  background-image: url(../../img/pattern-left.svg), url(../../img/pattern-right.svg);
  background-position: left center, right center;
  background-repeat: no-repeat, no-repeat;
}
.subnav {
  display: none;
  font-size: 18px;
  border-bottom: 1px solid #DAE2E5;
}

.gsuite {
  border-bottom: 1px solid #DAE2E5;
}
.gsuite h2 span {
  background-image: url(../../img/graphic-brush-large.png);
  padding-bottom: 26px;
}
.gsuite .carousel-toggle {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
}
.gsuite .carousel-toggle .button {
  width: 31.5%;
  cursor: pointer;
}
.gsuite .carousel-toggle .button.selected {
  background-color: #0A2E40;
  color: white;
  cursor: auto;
}
.gsuite .carousel {
  background-image: url(../../img/bg-carousel.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gsuite .carousel .carousel-image {
  opacity: 0;
  pointer-events: none;
}
.gsuite .carousel .carousel-image.showing {
  opacity: 1;
  pointer-events: all;
}
.gsuite .carousel-captions .caption {
  text-align: center;
  opacity: 0;
  pointer-events: none;
}
.gsuite .carousel-captions .caption.showing {
  opacity: 1;
  pointer-events: all;
}

.setup {
  border-bottom: 1px solid #DAE2E5;
}
.setup h2 span {
  background-image: url(../../img/graphic-brush-large.png);
  padding-bottom: 34px;
}

.pricing {
  border-bottom: 1px solid #DAE2E5;
}
.pricing h2 span {
  padding-bottom: 18px;
}

.features .features-list .column {
  font-weight: bold;
  text-align: center;
}
.features .features-list .column.more {
  font-weight: normal;
}
.features h2 span {
  padding-bottom: 14px;
}

.image-break {
  height: 220px;
  background-image: url(../../img/bg-imagebreak.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.notifications {
  background-color: #4ADEF2;
  text-align: center;
}

footer {
  background-color: #0A2E40;
}
footer a img {
  margin: 0 auto;
}

@media screen and (min-width: 640px) {
  .margins {
    padding: 0;
    width: 600px;
  }

  .columns {
    display: flex;
    flex-wrap: wrap;
  }
  .columns.two .column {
    width: 48%;
  }
  .columns.three .column {
    width: 30%;
  }
  .columns.four .column {
    width: 22%;
  }

  .subnav {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .margins {
    padding: 0;
    width: 960px;
  }

  .columns {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1440px) {
  .margins {
    padding: 0;
    width: 1200px;
  }
}

/*# sourceMappingURL=style.css.map */
